Repository testing-farm/infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible-vault, test/terraform/modules

Path conditions:
  ansible-vault: any of: ansible/secrets/credentials.yaml
  test/terraform/modules: (any of: terragrunt/modules/gitlab/**/*) or (any of: terragrunt/modules/artemis/**/*, terragrunt/modules/eks/**/*, terragrunt/modules/localhost/**/*, terragrunt/modules/vault/**/*, terragrunt/modules/worker/**/*)

workaround-fedora-eln: Update workaround
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-eln.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-eln.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-eln.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-eln.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-eln.yaml
Due: none

Update public composes 2026-03-19
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

secrets: update gitlab runners IPs
  ansible/secrets/credentials.yaml
Due: ansible-vault

Bump Testing Farm worker to 2026-03.2
  ansible/inventory/group_vars/testing_farm_public_workers.yaml
  ansible/inventory/group_vars/testing_farm_redhat_workers.yaml
Due: none

modules: pin provider version upper bounds to prevent breaking upgrades
  terragrunt/modules/artemis/main.tf
  terragrunt/modules/eks/main.tf
Due: test/terraform/modules

worker-redhat/citool-config: ansible_pkg_mgr is a fact
  terragrunt/environments/production/worker-redhat/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/production/worker-redhat/citool-config/guest-setup/pre-artifact-installation/install-python.yaml
Due: none

worker-redhat/guest-setup: fix dnf5 workarounds
  terragrunt/environments/production/worker-redhat/citool-config/guest-setup/pre-artifact-installation/workaround-dnf5.yaml
Due: none

Update public composes 2026-03-20
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

eks: upgrade `external-dns` Helm chart to `1.20.0`
  terragrunt/modules/eks/main.tf
Due: test/terraform/modules

Rekey ansible-vault
  ansible/secrets/credentials.yaml
  ansible/secrets/quay/testing-farm-tftbot-auth.json
  ansible/secrets/ssh/id_rsa_public_artemis
  ansible/secrets/ssh/id_rsa_public_server
  ansible/secrets/ssh/id_rsa_public_worker
  ansible/secrets/ssh/id_rsa_redhat_artemis
  ansible/secrets/ssh/id_rsa_redhat_server
  ansible/secrets/ssh/id_rsa_redhat_worker
  terragrunt/environments/dev/artemis/config/master-key.yaml
  terragrunt/environments/dev/worker-local/citool-config/id_rsa_artemis
  terragrunt/environments/dev/worker-public/citool-config/id_rsa_artemis
  terragrunt/environments/production/artemis/config/master-key.yaml
  terragrunt/environments/staging/artemis/config/master-key.yaml
  terragrunt/environments/staging/worker-local/citool-config/id_rsa_artemis
  terragrunt/environments/staging/worker-public/citool-config/id_rsa_artemis
Due: ansible-vault

staging/eks: scale up to `r6a.2xlarge` nodes with min 3
  terragrunt/environments/staging/eks/terragrunt.hcl
Due: none

ci: wait for Artemis DNS before creating worker
  .gitlab-ci.yml
  setup/wait_artemis_available.sh
Due: none

cleanup: handle AAAA records in Route53 cleanup script
  setup/cleanup_route53_records.sh
Due: none

staging: scale up Artemis deployment and add periodic worker
  terragrunt/environments/staging/artemis/terragrunt.hcl
  terragrunt/environments/staging/ci/artemis/terragrunt.hcl
  terragrunt/modules/artemis/main.tf
  terragrunt/modules/artemis/values.yaml.tftpl
  terragrunt/modules/artemis/variables.tf
Due: test/terraform/modules

Update public composes 2026-03-23
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Fix `TMT_SSH_CONNECTION_TIMEOUT` to `TMT_SSH_CONNECT_TIMEOUT`
  terragrunt/environments/dev/worker-local/citool-config/config/test-schedule-tmt
  terragrunt/environments/dev/worker-local/citool-config/config/test-schedule-tmt-connect
  terragrunt/environments/dev/worker-local/citool-config/config/test-schedule-tmt-multihost
  terragrunt/environments/dev/worker-public/citool-config/config/test-schedule-tmt
  terragrunt/environments/dev/worker-public/citool-config/config/test-schedule-tmt-connect
  terragrunt/environments/dev/worker-public/citool-config/config/test-schedule-tmt-multihost
  terragrunt/environments/production/worker-public/citool-config/config/test-schedule-tmt
  terragrunt/environments/production/worker-public/citool-config/config/test-schedule-tmt-connect
  terragrunt/environments/production/worker-public/citool-config/config/test-schedule-tmt-multihost
  terragrunt/environments/production/worker-redhat/citool-config/config/test-schedule-tmt
  terragrunt/environments/production/worker-redhat/citool-config/config/test-schedule-tmt-connect
  terragrunt/environments/production/worker-redhat/citool-config/config/test-schedule-tmt-multihost
  terragrunt/environments/staging/worker-local/citool-config/config/test-schedule-tmt
  terragrunt/environments/staging/worker-local/citool-config/config/test-schedule-tmt-connect
  terragrunt/environments/staging/worker-local/citool-config/config/test-schedule-tmt-multihost
  terragrunt/environments/staging/worker-public/citool-config/config/test-schedule-tmt
  terragrunt/environments/staging/worker-public/citool-config/config/test-schedule-tmt-connect
  terragrunt/environments/staging/worker-public/citool-config/config/test-schedule-tmt-multihost
Due: none

Update public composes 2026-03-24
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

ci: limit `kubectl stern` output with `--tail 100`
  .gitlab-ci.yml
Due: none

Update public composes 2026-03-25
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none
