Repository testing-farm/infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible-vault, test/terraform/modules

Path conditions:
  ansible-vault: any of: ansible/secrets/credentials.yaml
  test/terraform/modules: (any of: terragrunt/modules/gitlab/**/*) or (any of: terragrunt/modules/artemis/**/*, terragrunt/modules/eks/**/*, terragrunt/modules/localhost/**/*, terragrunt/modules/vault/**/*, terragrunt/modules/worker/**/*)

Bump to EKS 1.28
  terragrunt/environments/dev/eks/terragrunt.hcl
  terragrunt/environments/production/eks/terragrunt.hcl
  terragrunt/environments/staging/eks/terragrunt.hcl
Due: none

Update public composes 2025-08-14
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

setup/terminate_unused_loadbalancers.sh: fix issues
  setup/terminate_unused_loadbalancers.sh
Due: none

workaround-fedora-release: do not run for image mode
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-release.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-release.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-release.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-release.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-release.yaml
Due: none

secrets: add secrets for fedora osci cluster
  ansible/secrets/credentials.yaml
Due: ansible-vault

github: Remove securesign project
  terragrunt/environments/github/securesign/.terragrunt-excludes
  terragrunt/environments/github/securesign/runners/components/key-pair/.terraform.lock.hcl
  terragrunt/environments/github/securesign/runners/components/key-pair/terragrunt.hcl
  terragrunt/environments/github/securesign/runners/components/security-group/.terraform.lock.hcl
  terragrunt/environments/github/securesign/runners/components/security-group/terragrunt.hcl
  terragrunt/environments/github/securesign/runners/repositories/artifact-signer-ansible/.terraform.lock.hcl
  terragrunt/environments/github/securesign/runners/repositories/artifact-signer-ansible/terragrunt.hcl
  terragrunt/environments/github/securesign/runners/terragrunt.hcl
  terragrunt/environments/github/securesign/runners/user_data.sh.tfpl
Due: none

Update public composes 2025-08-15
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

guest-setup: remove doggo
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/post-artifact-installation/entrypoint.yaml
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/post-artifact-installation/install-doggo.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/post-artifact-installation/entrypoint.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/post-artifact-installation/install-doggo.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/post-artifact-installation/entrypoint.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/post-artifact-installation/install-doggo.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/post-artifact-installation/entrypoint.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/post-artifact-installation/install-doggo.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/post-artifact-installation/entrypoint.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/post-artifact-installation/install-doggo.yaml
Due: none

Remove workaround for installing beakerlib in CentOS Stream 10
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-beakerlib.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-beakerlib.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-beakerlib.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-beakerlib.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-beakerlib.yaml
Due: none

rm unused flasher log
  terragrunt/environments/production/worker-redhat/citool-config/artemis-log-config.yaml
Due: none

Update public composes 2025-08-18
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Add `osci/kubeconfig` terget
  Makefile.maintainer
Due: none

secrets: fix the region for OSCI credentials
  ansible/secrets/credentials.yaml
Due: ansible-vault

artemis: support nested security groups
  terragrunt/environments/dev/artemis/terragrunt.hcl
  terragrunt/modules/artemis/main.tf
  terragrunt/modules/artemis/outputs.tf
  terragrunt/modules/artemis/variables.tf
Due: test/terraform/modules

staging/production: enable nested SGs
  terragrunt/environments/production/artemis/terragrunt.hcl
  terragrunt/environments/staging/artemis/terragrunt.hcl
Due: none

Update public composes 2025-08-19
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

dev: use multiple SGs for instances
  setup/terminate_artemis_guests.sh
  terragrunt/environments/dev/artemis/config/server.yaml.tftpl
  terragrunt/environments/dev/artemis/terragrunt.hcl
  terragrunt/environments/production/artemis/config/server.yaml.tftpl
  terragrunt/environments/staging/artemis/config/server.yaml.tftpl
  terragrunt/modules/artemis/main.tf
  terragrunt/modules/artemis/outputs.tf
  terragrunt/modules/artemis/variables.tf
Due: test/terraform/modules

Update python dependencies, new tft-cli
  poetry.lock
  pyproject.toml
Due: none

Support multiple SGs in staging, staging/ci and production
  terragrunt/environments/production/artemis/terragrunt.hcl
  terragrunt/environments/staging/artemis/terragrunt.hcl
  terragrunt/environments/staging/ci/artemis/terragrunt.hcl
Due: none
