Repository testing-farm/infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible-vault, terraform

.gitlab-ci.yml:

---
default:
  image: quay.io/testing-farm/python-ci-image:2022-09-22-f36b4b1c

variables:
  # GitLab CI runs in world writable directory, we need to explicitely set ANSIBLE_CONFIG
  # https://docs.ansible.com/ansible/devel/reference_appendices/config.html#cfg-in-world-writable-dir
  ANSIBLE_CONFIG: ansible.cfg

workflow:
  rules:
    # for merge requests
    - if: $CI_MERGE_REQUEST_ID
    # for the tip of the default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.direnv:
  before_script:
    - echo -n "$VAULT_PASSWORD" > .vault_pass
    - dnf -y install direnv libffi libffi-devel
    - direnv allow
    - eval "$(direnv export bash)"

stages:
  - üîç

ansible-vault:
  extends: .direnv
  stage: üîç
  script:
    - dnf -y install ansible-lint
    - ansible-vault decrypt secrets/credentials.yml
    - ansible-lint secrets/credentials.yml
  rules:
    - changes:
        - secrets/credentials.yml

pre-commit:
  extends: .direnv
  stage: üîç
  script:
    - dnf -y install pre-commit
    - PRE_COMMIT_HOME=$CI_PROJECT_DIR/.cache/pre-commit pre-commit run --all-files
  cache:
    paths:
      - $CI_PROJECT_DIR/.cache
  rules:
    - when: always

terraform:
  extends: .direnv
  stage: üîç
  script:
    # TODO: tmt run -e cluster_name=testing-farm-gitlab-ci-$CI_COMMIT_REF_NAME plan --name /terraform/environments/dev
    - export TF_VAR_cluster_name=testing-farm-gitlab-ci-$CI_COMMIT_REF_NAME-$CI_JOB_ID
    - cd terraform/environments/dev
    - terraform init
    - terraform plan -out tfplan
    - terraform apply tfplan
    - context=$(aws eks --region us-east-2 update-kubeconfig --name $TF_VAR_cluster_name | grep -o "arn[^ ]*")
    - kubectl ctx $context
    - kubectl ns default
    - kubectl run fedora --image fedora:35 -- sleep infinity
    - kubectl wait --for=condition=Ready pod/fedora
    - kubectl exec pod/fedora -- cat /etc/os-release | grep '^ID=fedora$'
    - kubectl delete pod/fedora
  after_script:
    - eval "$(direnv export bash)"
    - export TF_VAR_cluster_name=testing-farm-gitlab-ci-$CI_COMMIT_REF_NAME-$CI_JOB_ID
    - cd terraform/environments/dev
    # NOTE: return code can be non-zero in case of warnings
    - terraform destroy -auto-approve
  rules:
    - changes:
        - secrets/credentials.yml
        - terraform/environments/common/**/*
        - terraform/environments/dev/**/*
        - terraform/modules/**/*
        - terraform/*.tf
        - terraform/*.tftpl
        - .envrc

Deploy external-dns addon
  terraform/main.tf
  terraform/modules/eks/eks.tf
  terraform/variables.tf
Due: terraform

Adjustable domain name setup
  terraform/main.tf
  terraform/modules/eks/eks.tf
  terraform/modules/eks/variables.tf
Due: terraform

Lint secrets using yamllint
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Due: none

Lock versions of certain terraform dependencies
  terraform/environments/dev/.terraform.lock.hcl
  terraform/main.tf
Due: terraform

Bump used terraform version
  setup/environment.sh
Due: none

Add API token for terraform cloud
  .envrc
  secrets/credentials.yml
Due: ansible-vault, terraform

Allow specifying EKS node group properties
  terraform/main.tf
  terraform/modules/eks/eks.tf
  terraform/modules/eks/variables.tf
  terraform/variables.tf
Due: terraform

Add pre-commit hooks to lint, and check terraform code
  .pre-commit-config.yaml
  setup/environment.sh
Due: none

Format file contents using terraform fmt
  terraform/environments/dev/dev.tf
  terraform/main.tf
  terraform/modules/artemis/main.tf
  terraform/modules/artemis/variables.tf
  terraform/modules/eks/eks.tf
  terraform/modules/eks/variables.tf
  terraform/variables.tf
Due: terraform

Drop obsolete xunit-viewer
  ansible/playbooks/create-public-worker.yml
  ansible/playbooks/create-redhat-worker.yml
  ansible/playbooks/testing-farm.yml
  ansible/tasks/xunit-converter.yml
  ranch/public/jobs/tf-sti
  ranch/public/jobs/tf-tmt
  ranch/public/jobs/tf-tmt-container
  ranch/redhat/jobs/tf-sti
  ranch/redhat/jobs/tf-tmt
  ranch/redhat/jobs/tf-tmt-container
Due: none

Fix playbooks/create-redhat-worker
  ansible/playbooks/create-redhat-worker.yml
  ansible/tasks/rh-certs.yml
Due: none

jobs: Retry curl
  ranch/public/jobs/tf-sti
  ranch/public/jobs/tf-tmt
  ranch/public/jobs/tf-tmt-container
  ranch/redhat/jobs/tf-sti
  ranch/redhat/jobs/tf-tmt
  ranch/redhat/jobs/tf-tmt-container
Due: none

Revert "public: workaround koji issue"
  ranch/public/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yml
  tests/public/guest-setup/centos-7.fmf
  tests/public/guest-setup/centos-stream-8.fmf
  tests/public/guest-setup/centos-stream-9.fmf
  tests/public/guest-setup/fedora-35.fmf
  tests/public/guest-setup/fedora-rawhide.fmf
Due: none

Fix issues found by terraform linters
  terraform/environments/dev/dev.tf
  terraform/environments/dev/variables.tf
  terraform/main.tf
  terraform/modules/artemis/main.tf
  terraform/modules/eks/eks.tf
  terraform/modules/eks/variables.tf
  terraform/variables.tf
Due: terraform

citool-config: use `${config_root}`
  ranch/public/citool-config/config/artemis
  ranch/public/citool-config/config/guest-setup-testing-farm
  ranch/public/citool-config/config/test-scheduler
  ranch/public/citool-config/config/testing-farm-request-state-reporter
  ranch/redhat/citool-config/citool
  ranch/redhat/citool-config/config/artemis
  ranch/redhat/citool-config/config/guest-setup-testing-farm
  ranch/redhat/citool-config/config/testing-farm-request-state-reporter
Due: none

Add CI job to deploy staging after merge
  .gitlab-ci.yml
Due: none

Prepare staging TF environment
  terraform/environments/staging/.terraform.lock.hcl
  terraform/environments/staging/config/ARTEMIS_HOOK_AWS_ENVIRONMENT_TO_IMAGE.py
  terraform/environments/staging/config/ARTEMIS_HOOK_AZURE_ENVIRONMENT_TO_IMAGE.py
  terraform/environments/staging/config/ARTEMIS_HOOK_BEAKER_ENVIRONMENT_TO_IMAGE.py
  terraform/environments/staging/config/ARTEMIS_HOOK_OPENSTACK_ENVIRONMENT_TO_IMAGE.py
  terraform/environments/staging/config/ARTEMIS_HOOK_ROUTE.py
  terraform/environments/staging/config/master-key.yml
  terraform/environments/staging/config/server.yml.tftpl
  terraform/environments/staging/config/variables_images.yml
  terraform/environments/staging/deployment.tf
  terraform/environments/staging/variables.tf
Due: none
