Repository testing-farm/infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible-vault, test/terraform/modules

ansible-vault:
  before_script:
  - dnf -y install direnv libffi libffi-devel podman rsync awk
  - echo -n "$VAULT_PASSWORD" > .vault_pass
  - direnv allow
  - eval "$(direnv export bash)"
  - printf "nameserver 1.1.1.1\nnameserver 8.8.8.8\nnameserver 8.8.4.4\n" > /etc/resolv.conf
  script:
  - - .direnv
    - script
  ...

test/terraform/modules:
  before_script:
  - dnf -y install direnv libffi libffi-devel podman rsync awk
  - echo -n "$VAULT_PASSWORD" > .vault_pass
  - direnv allow
  - eval "$(direnv export bash)"
  - printf "nameserver 1.1.1.1\nnameserver 8.8.8.8\nnameserver 8.8.4.4\n" > /etc/resolv.conf
  script:
  - dnf -y install golang
  ...

tests/tmt-container: add failures.yaml
  tests/worker/public/tmt-container-checks.yaml
  tests/worker/public/tmt-container-failure.yaml
  tests/worker/public/tmt-container-test-name.yaml
  tests/worker/public/tmt-container-x86_64-merge-sha.yaml
  tests/worker/public/tmt-container.yaml
Due: none

Bump to 2025-01.8 release
  ansible/inventory/group_vars/testing_farm_public_workers.yaml
  ansible/inventory/group_vars/testing_farm_redhat_workers.yaml
Due: none

Update public composes 2025-05-30
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Update public composes 2025-06-02
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

gitlab: disable shared runners for our projects
  terragrunt/modules/gitlab/project/main.tf
Due: test/terraform/modules

RHIVOS (automotive) workarounds not needed anymore
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-automotive.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-automotive.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-automotive.yaml
  terragrunt/environments/production/worker-redhat/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/production/worker-redhat/citool-config/guest-setup/pre-artifact-installation/workaround-automotive.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-automotive.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/entrypoint.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-automotive.yaml
Due: none

Update public composes 2025-06-03
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

tmt-web: switch to valkey
  terragrunt/environments/dev/server/pods/tmt-web.yaml.j2
  terragrunt/environments/staging/server/pods/tmt-web.yaml
Due: none

Remove server.ign.json
  .gitignore
  terragrunt/environments/dev/server/ec2/server.ign.json
Due: none

Rotate Fedora SSO client tokens
  ansible/secrets/credentials.yaml
Due: ansible-vault

Update public composes 2025-06-04
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Rotate dev users
  ansible/secrets/credentials.yaml
Due: ansible-vault

Rotate staging Red Hat SSO client secret
  ansible/secrets/credentials.yaml
Due: ansible-vault

Fix git config for credentials diff
  .gitattributes
  .gitconfig
Due: none

Update public composes 2025-06-05
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Support deploying oculus next
  ansible/inventory/group_vars/testing_farm_dev_public_workers.yaml
  ansible/inventory/group_vars/testing_farm_public_workers.yaml
  ansible/inventory/group_vars/testing_farm_redhat_workers.yaml
  ansible/inventory/group_vars/testing_farm_staging_public_workers.yaml
  ansible/tasks/jobs.yaml
  terragrunt/environments/dev/worker-local/citool-config/source-destination-map.yaml
  terragrunt/environments/dev/worker-public/citool-config/source-destination-map.yaml
  terragrunt/environments/dev/worker-public/jobs/tf-sti.j2
  terragrunt/environments/dev/worker-public/jobs/tf-tmt-container.j2
  terragrunt/environments/dev/worker-public/jobs/tf-tmt-multihost.j2
  terragrunt/environments/dev/worker-public/jobs/tf-tmt.j2
  terragrunt/environments/production/worker-public/citool-config/config/archive.j2
  terragrunt/environments/production/worker-public/citool-config/source-destination-map.yaml
  terragrunt/environments/production/worker-public/jobs/tf-sti.j2
  terragrunt/environments/production/worker-public/jobs/tf-tmt-container.j2
  terragrunt/environments/production/worker-public/jobs/tf-tmt-multihost.j2
  terragrunt/environments/production/worker-public/jobs/tf-tmt.j2
  terragrunt/environments/production/worker-redhat/citool-config/config/archive.j2
  terragrunt/environments/production/worker-redhat/citool-config/source-destination-map.yaml
  terragrunt/environments/production/worker-redhat/jobs/tf-sti.j2
  terragrunt/environments/production/worker-redhat/jobs/tf-tmt-container.j2
  terragrunt/environments/production/worker-redhat/jobs/tf-tmt-multihost.j2
  terragrunt/environments/production/worker-redhat/jobs/tf-tmt.j2
  terragrunt/environments/staging/worker-local/citool-config/source-destination-map.yaml
  terragrunt/environments/staging/worker-public/citool-config/source-destination-map.yaml
  terragrunt/environments/staging/worker-public/jobs/tf-sti.j2
  terragrunt/environments/staging/worker-public/jobs/tf-tmt-container.j2
  terragrunt/environments/staging/worker-public/jobs/tf-tmt-multihost.j2
  terragrunt/environments/staging/worker-public/jobs/tf-tmt.j2
Due: none

artemis: Fix mappings for Image Mode
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Add image mode compose tests
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yaml
  terragrunt/environments/dev/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-rawhide.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yaml
  terragrunt/environments/dev/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-rawhide.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yaml
  terragrunt/environments/production/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-rawhide.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yaml
  terragrunt/environments/staging/worker-local/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-rawhide.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yaml
  terragrunt/environments/staging/worker-public/citool-config/guest-setup/pre-artifact-installation/workaround-fedora-rawhide.yaml
  tests/worker/public/compose-CentOS-Stream-10-image-mode-x86_64.yaml
  tests/worker/public/compose-Fedora-41-image-mode-x86_64.yaml
  tests/worker/public/compose-Fedora-42-image-mode-x86_64.yaml
  tests/worker/public/compose-Fedora-Rawhide-image-mode-x86_64.yaml
  tests/worker/public/compose-Fedora-latest-image-mode-x86_64.yaml
Due: none

release/2025-01: cherry-pick changes from main 2025-06-12
  terragrunt/environments/dev/artemis/config/variables_images.yaml
  terragrunt/environments/production/artemis/config/variables_images.yaml
  terragrunt/environments/staging/artemis/config/variables_images.yaml
Due: none

Bump to 2025-01.9 release
  ansible/inventory/group_vars/testing_farm_public_workers.yaml
  ansible/inventory/group_vars/testing_farm_redhat_workers.yaml
Due: none

Path conditions:
  ansible-vault: any of: ansible/secrets/credentials.yaml
  test/terraform/modules: (any of: terragrunt/modules/gitlab/**/*) or (any of: terragrunt/modules/artemis/**/*, terragrunt/modules/eks/**/*, terragrunt/modules/localhost/**/*, terragrunt/modules/vault/**/*, terragrunt/modules/worker/**/*)
