Repository testing-farm/infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ansible-vault, terraform

ansible-vault:
  before_script:
  - echo -n "$VAULT_PASSWORD" > .vault_pass
  - dnf -y install direnv
  - direnv allow
  - eval "$(direnv export bash)"
  stage: üîç
  script:
  - dnf -y install ansible-lint
  - ansible-vault decrypt secrets/credentials.yml
  - ansible-lint secrets/credentials.yml

terraform:
  before_script:
  - echo -n "$VAULT_PASSWORD" > .vault_pass
  - dnf -y install direnv
  - direnv allow
  - eval "$(direnv export bash)"
  stage: üîç
  script:
  - cd terraform/environments/dev
  - export TF_VAR_cluster_name=testing-farm-gitlab-ci-$CI_COMMIT_REF_NAME-$CI_JOB_ID
  - terraform init
  - terraform plan
  ...

direnv: move installation of tools out .envrc
  .envrc
  Makefile
  setup/environment.sh
Due: terraform

Fix rh-certs task and create repository task
  ansible/tasks/rh-certs.yml
  ranch/public/citool-config/guest-setup/post-artifact-installation/create_test_repository.yml
Due: none

ranch/public: create /var/share/test-artifacts dir
  ranch/public/citool-config/guest-setup/post-artifact-installation/create_test_repository.yml
Due: none

ranch/public: add simple progress report
  ranch/public/jobs/tf-sti
  ranch/public/jobs/tf-tmt
  ranch/public/jobs/tf-tmt-container
Due: none

Move to https artifacts storage for public ranch
  ranch/public/citool-config/config/coldstore
  ranch/public/jobs/tf-sti
  ranch/public/jobs/tf-tmt
  ranch/public/jobs/tf-tmt-container
Due: none

.envrc: unset VIRTUAL_ENV
  .envrc
Due: terraform

Support provisioning redhat ranch workers
  .envrc
  ansible.cfg
  ansible/inventory/fedora_aws_ec2.yml
  ansible/inventory/group_vars/testing_farm_public_workers.yml
  ansible/inventory/hosts.yml
  ansible/inventory/redhat_aws_ec2.yml
  ansible/playbooks/create-redhat-worker.yml
  ansible/roles/volume/tasks/main.yml
  ansible/secrets/credentials.yml
  ansible/tasks/ssh-key.yml
  ansible/tasks/xunit-viewer.yml
  setup/environment.sh
Due: terraform

make: add nothing target
  Makefile
Due: none

direnv: add back git goodies
  secrets/credentials.yml
  setup/environment.sh
Due: ansible-vault, terraform

direnv: add back git goodies
  setup/environment.sh
Due: none

Install brewkoji on CentOS8 and OL8
  ranch/public/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yml
  ranch/redhat/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yml
  tests/main.fmf
  tests/public/guest-setup/centos-stream-8.fmf
  tests/public/guest-setup/fedora-35.fmf
  tests/public/guest-setup/fedora-rawhide.fmf
  tests/public/guest-setup/rhel-7.fmf
  tests/public/guest-setup/rhel-8.fmf
  tests/redhat/guest-setup/centos-7.fmf
  tests/redhat/guest-setup/centos-8.fmf
  tests/redhat/guest-setup/rhel-7.fmf
  tests/redhat/guest-setup/rhel-8.fmf
Due: none

Install brewkoji on CentOS8 and OL8
  ranch/public/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yml
  ranch/redhat/citool-config/guest-setup/pre-artifact-installation/install-koji-brew.yml
  tests/main.fmf
  tests/public/guest-setup/centos-stream-8.fmf
  tests/public/guest-setup/centos-stream-9.fmf
  tests/public/guest-setup/fedora-35.fmf
  tests/public/guest-setup/fedora-rawhide.fmf
  tests/public/guest-setup/rhel-7.fmf
  tests/public/guest-setup/rhel-8.fmf
  tests/redhat/guest-setup/centos-7.fmf
  tests/redhat/guest-setup/centos-stream-8.fmf
  tests/redhat/guest-setup/rhel-7.fmf
Due: none

Fix problems with archiving
  ranch/public/jobs/tf-sti
  ranch/public/jobs/tf-tmt
  ranch/public/jobs/tf-tmt-container
Due: none

Path conditions:
  ansible-vault: any of: secrets/credentials.yml
  terraform: any of: secrets/credentials.yml, terraform/environments/dev/**/*, terraform/modules/**/*, .envrc
